{#
/**
 * @file youtube-embed.html.twig
 *
 * Default theme implementation of an embedded YouTube video/playlist.
 *
 * @see template_preprocess_youtube_embed()
 *
 * @ingroup themeable
 */
#}
<div class="responsive-video">
  <iframe{{ attributes }}></iframe>
</div>
